<h1>New <%= singular_name %></h1>

<div>
  <%%= link_to 'Back', <%= plural_name %>_path %>  
</div>

<div>
  <%% form_for(@<%= singular_name %>) do |f| %>
    <%%= f.error_messages %>
    <%%= render :partial => "<%= plural_name %>/form", :locals => { :f => f } %>
    <%%= f.submit 'Create' %>
  <%% end %>
</div>